.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
  .left {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 6px;
    }
  }
}
