.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../../assets/image/login_bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}
